<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    a{ text-decoration: none;}
    div{text-align: center;}
</style>
<body>
    <div class="container">
        <img src="https://uptime.com/media/website_profiles/albamon.com.png" width="500px">
    {% for alba in albamon %}
        <div>
            <h3>{{alba.name}}</h3>
            <a href="{% url 'detail' alba.id %}">more</a>
        </div>
    {% endfor %}
    <br><br><br>
    <a href="{% url 'create_page' %}">구인 글 작성하기</a>
    </div>
</body>
</html>